/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

/* color variables */
:root {
  --primary-color: #06203c;
  --secondary-color: hsl(60, 100%, 50%);
}

body,
html {
  height: 100vh;
  width: 100%;
}
